# Ignore all markdown files
*.md

# Ignore all json files
*.json

# Ignore all *.scss files
scss/

# Ignore all images files
images/
favicons/
icons/

# Don't format minified files
css/style.min.css
js/*.min.js
