// Default style that I currently use on this project
$default-html-font-size: 100% !default;
$black: rgb(17, 17, 17) !default;
$white: rgb(242, 242, 242) !default;
$selection-bg: rgb(0, 201, 250) !default;
$selection-color: $white !default;
$focus-visible-color: rgb(255, 14, 166) !default;

// Colors
$blue: rgb(0, 156, 255);
$light-blue: rgb(108, 184, 247);
$darker-dark-gray: rgb(41, 41, 41);
$dark-gray: rgb(53, 53, 53);
$light-gray: rgb(229, 229, 229);
$red: rgb(245, 0, 0);

// Breakpoints
// Note: If you user font-size setting is 16px, then this 'em' is equal to this in 'px'
$breakpoints-up: (
  "tiny": 46.875em, // => 750px
  "very-small": 64em, // => 1024px
  "small": 80em // => 1280px
);

$breakpoints-down: (
  "tiny": 46.8125em, // => 749px
  "very-small": 63.9375em, // => 1023px
  "small": 79.9375em // => 1279px
);